<!DOCTYPE html>
<html>
    <body>
        <h1>Thank you, <%= @appointment.first_name.capitalize %> <%= @appointment.last_name.capitalize %></h1>
        <p><%= @formattedDate %></p>
    </body>
</html>